{% extends 'music_nation/base.html' %}

{%block title%}
{%endblock%}
{%block content%}
<center>
<h1>TuneTrek</h1>
</center>
<div>
  <ul class="home-list">
    {% for album in albums %}
      <li >
        <span><a class="home-a" href="{% url 'music_nation:album_detail' username=album.album_artist album=album.album_name %}">
          <img src="{{ album.album_logo.url }}" style="width:100px">
        </a></span>
         <span style="color:#007bff;">{{album.album_name}} by</span>
        <a class="home-a" href="{% url 'music_nation:profile_detail' username=album.album_artist %}">
          {{album.album_artist}}
        </a>
      </li><hr/>
    {% endfor %}
  </ul>
</div>
<footer class="footer" style="background-color: #98475e; color: #FFFFFF;height: 100px; width: 100%;text-align: center;">
  <div class="container" style="font-size: 18px; line-height: 100px;"></div>
    <p style="margin: 0;">&copy; 2024 TuneTrek. All rights reserved. Designed by TuneTrek Team.</p>
  </div>
</footer>



{%endblock%}
